[submodule ".registry"]
	path = .registry
	url = https://github.com/bnaras/bnaras.r-universe.dev
	branch = HEAD
[submodule "Uno"]
	path = Uno
	url = https://github.com/bnaras/Uno
[submodule "diffcp"]
	path = diffcp
	url = https://github.com/bnaras/diffcp
[submodule "gurobi"]
	path = gurobi
	url = https://github.com/bnaras/gurobi
[submodule "openfhe"]
	path = openfhe
	url = https://github.com/bnaras/openfhe.R
[submodule "scip"]
	path = scip
	url = https://github.com/bnaras/scip
[submodule "sparsediff"]
	path = sparsediff
	url = https://github.com/bnaras/sparsediff
[submodule "xpress"]
	path = xpress
	url = https://github.com/bnaras/xpress
